main {
    padding: 10px;
  }
  
  .item {
    padding: 5px 0;
    line-height: 1.4;
  }
  
  .item-title {
    text-decoration: none;
    color: #000;
    font-size: 13.3px;
  }
  
  .item-title:hover {
    text-decoration: underline;
  }
  
  .item-title:visited {
    color: #d27d47;
  }
  
  .item-details {
    font-size: 10.7px;
    color: #d27d47;
  }
  
  .item-details a {
    color: #d27d47;
    text-decoration: none;
  }
  
  .item-details a:hover {
    text-decoration: underline;
  }
  
  .category-title {
    font-size: 18px;
    color: #d27d47;
    margin: 10px 0;
    padding: 0 10px;
    font-family: 'Libre Baskerville', serif;
  }